header{
    position: fixed;
    width: 100%;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}
/* ! HEADER */
.my-header-top img{
    width: 100px;
    float: right;
    padding: .5rem 0;
}

.my-header-bottom a{
    color: black;
}

.my-header-bottom i{
    color: black;
}

/* !JUMBOTRON BIG 1 */
.my-jumbo-big-1{
    background-image:url('../img/jumbo-bg.png');
    object-fit: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}  

.my-logo-jumbo-1{
    width: 250px;
}

.my-btn-orange{
    background-color:#cd3d0f ;
}

.my-jumbo-pt{
    padding-top: 6rem 0;
}


/* ? common jumbo jumbo 1 and jumbo 2*/
/* .my-jumbo{
    height: 800px;
} */


.my-jumbo-col{
    padding: 15rem 2rem 2rem; 
}


.my-jumbo-title{
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-weight: 600;
}

.my-jumbo-paragraph{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}


/* ***********? */

/* *******************! */

/* ! Cards  */
.my-cards img{
    width: 100%;
    border-radius: 20px;
}

.btn-blue{
    background-color:#2d64e6 ;
}

.my-card-ps5-thumb{
    width: 100%;
}

/* ! Console */

.my-console{
    padding-top: 6rem;
}
.my-console h5{
    color:#0072ce;
    font-size: 1.3rem;
    font-weight: 600;
}

.my-console h1{
    font-weight: 500; 
}

.my-console p{
    color:#8a8a8a;
    font-weight: 700;
    font-size: 1.3rem;
}


/* !  my-console-img */

.my-console-img img{
    width: 100%;
}


/* !  jumbo big due  */
.my-jumbo-big-2{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    object-fit: contain;
    background-position-x: center;
    background-repeat: no-repeat;
}



.my-jumbo-pt-due{
    padding: 3rem 1rem 2rem ;
} 

.my-logo-jumbo-2{
    width: 50%;
}


/* ! New games cards */
.new-game-cards{
    background-color:rgb(31, 31, 31);
    color: white;
    padding-top: 5rem;
}
.new-game-cards img{
    width: 100%;
    border-radius: 10px;
}

/* ! console big with images */

.my-console-big img{
    width: 100%;
}

.my-console-big {
    padding: 6rem 0;
}


/* ! jubo small */

.my-jumbo-small {
    width: 100%;   
}

.my-jumbo-small-grey{
    background-color:rgb(190, 188, 187);
}

.my-jumbo-small p{
    font-weight: 600;
}

/* both logo size */
.my-logo{
    width: 200px;
}

/* 1st jumbo small btn */
.btn-light{
    background-color: rgb(217, 218, 220);
    color: rgb(61, 111, 229);
    padding: .5rem 1rem;
    border:none;
    font-weight: 600;
}



/* ! my-discount-cards */
.my-discount-cards img{
    width:100%;
}

/* ! 2nd jumbo small */
.my-jumbo-small-blue{
    background-color: rgb(22, 28, 59);
}

/* 2nd jumbo small logo */
.my-ps-plus-img{
    width: 100%;
}

/* * 2nd jumbo small btn*/

.btn-grey{
    color:black;
    background-color: rgb(245, 245, 245);
}


/* ! social cards */

.my-social-cards{
    padding: 2rem 0 1rem 0;
}
.my-social-img{
    width:100%;
}

/* ! Footer footer-top */

footer{
    background-color:rgb(0, 67, 156) ;
}
.my-lng-svg{
    width: 20px;
    
}

#my-logo-ps5{
    fill: white;
}

/* ! footer bottom */

#my-sie-logo{
    width: 150px;
}

.my-size-sie-text{
    font-size: .8rem;
    line-height: .2rem;
    padding-top: 1rem;
    vertical-align: middle;
}


/* todo Hover */

.my-cards  div[class^= "col-"] :hover{
    border: 2px solid  rgb(75, 155, 220);
    border-radius: 20px;
    padding: 2px;
}


.my-cards-cnt>div[class^= "col-"]:hover{
    border-bottom: 3px solid rgb(75, 155, 220);
}