.my-header-top img{
    width: 120px;
    float: right;
    padding: .5rem 0;
}

.my-header-bottom a{
    color: black;
}

.my-header-bottom i{
    color: black;
}

/* !JUMBOTRON BIG */

/*.my-jumbo-big{
    width: 100%;
    height: 800x; 
}*/

.my-jumbo-big .my-back-img{
    width: 100%;
    object-fit: cover;
    height: 600px;
}  

.my-logo-returnal{
    width: 200px;
}

.my-jumbo-content-position{
    bottom:60px;
    left: 0;
}

.my-jumbo-title{
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-weight: 600;
}

.my-jumbo-paragraph{
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}


.my-btn-orange{
    background-color:#cd3d0f ;
}

/* ! Cards  */
.my-cards img{
    width: 100%;
    border-radius: 20px;
}