.my-header-top img{
    width: 120px;
    float: right;
    padding: .5rem 0;
}

.my-header-bottom a{
    color: black;
}

.my-header-bottom i{
    color: black;
}

/* !JUMBOTRON BIG */

/*.my-jumbo-big{
    width: 100%;
    height: 800x; 
}*/

.my-jumbo-big .my-back-img{
    width: 100%;
    object-fit: cover;
    height: 600px;
}  

.my-logo-returnal{
    width: 200px;
}
